.bash_history
.bash_logout
.bash_profile
.bashrc
.bundle/
.cache/
.gem/
.gitconfig
.profile
.ssh/
.viminfo
.wget-hsts
go/
isucari/webapp/nodejs/
isucari/webapp/perl/
isucari/webapp/php/
isucari/webapp/public/
isucari/webapp/python/
local/
xbuild/
.mysql_history
.vim/
snap/
